<h1>#<%= @event.tag %></h1>

<% @event.photos.all.each do |photo| %>
    <img src="<%= photo.image %>">
    <%= Time.at(photo.time).strftime("%m/%d/%Y at %I:%M%p")%>

<% end %>

<p>Find me in app/views/photos/show.html.erb</p>
