<h1>#<%= @event.tag %></h1>

<% @event.photos.all.each do |photo| %>
    <img src="<%= photo.image %>" style="float: left">
    <!-- Ruby Script to show time stamps -->
    <!-- Time.at(photo.time).strftime("%m/%d/%Y at %I:%M%p") -->

    <% end %>
 	